cellPad = 10px
border  = 1px solid black

body
  margin 0 auto
  max-width 1000px

  .header
    padding 5px
    text-align center

  form
    .name-table
      display table
      border border
      margin 0 auto

      input[type=checkbox]
      input[type=radio]
        display none

        & + div
          padding cellPad

        &:checked + div
          background-color lightgrey

      .name-list
        display table-row

        > div
        label
          display table-cell
          vertical-align middle

        > div
          border-right border
          padding cellPad
          text-align center

          .info
            font-size 80%

    .buttons
      align-items center
      display flex
      justify-content center
      padding 5px

      :not(:last-child)
        margin-right 5px

      > *
        padding 5px

  iframe
    border none
    width 100%
